@using BankOfSimba.Models
@model BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank Of Simba</title>
</head>
<body>
    <h1>Account details:</h1>
    <table>
        <tr>
            <td>Account Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Balance:</td>
            <td>@Model.Balance Zebra</td>
        </tr>
        <tr>
            <td>Animal Type:</td>
            <td>@Model.Species</td>
        </tr>       
    </table>
</body>
</html>

